<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cwy.xxs.dao.mybatis.CommoditySpecificationMapper">

  <resultMap id="BaseResultMap" type="CommoditySpecification">
    <id column="specification_id" jdbcType="INTEGER" property="specificationId" />
    <result column="specification_name" jdbcType="VARCHAR" property="specificationName" />
    <result column="specification_count" jdbcType="INTEGER" property="specificationCount" />
    <result column="specification_weight" jdbcType="INTEGER" property="specificationWeight" />
    <result column="specification_price" jdbcType="DECIMAL" property="specificationPrice" />
    <result column="activity_price" jdbcType="DECIMAL" property="activityPrice" />
    <result column="commodity_id" jdbcType="VARCHAR" property="commodityId" />
    <result column="image_path" jdbcType="INTEGER" property="imagePath" />
    <result column="sort_number" jdbcType="INTEGER" property="sortNumber"/>
    <result column="create_time" jdbcType="VARCHAR" property="createTime"/>
    <result column="update_time" jdbcType="VARCHAR" property="updateTime"/>
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
  </resultMap>

  <sql id="Base_Column_List">
    specification_id, specification_name, specification_count, specification_price, specification_weight, sort_number, create_time, is_delete,commodity_id,image_path, activity_price
  </sql>

  <resultMap id="CountResultMap" type="com.cwy.xxs.vo.SpecificationCountModel">
    <id column="specification_id" jdbcType="INTEGER" property="specificationId" />
    <result column="specification_count" jdbcType="INTEGER" property="specificationCount" />
    <result column="commodity_discount" jdbcType="DECIMAL" property="commodityDiscount" />
    <result column="specification_weight" jdbcType="INTEGER" property="specificationWeight" />
    <result column="specification_price" jdbcType="DECIMAL" property="specificationPrice" />
    <result column="activity_price" jdbcType="DECIMAL" property="activityPrice" />
    <result column="is_discount" jdbcType="INTEGER" property="isDiscount" />
    <result column="is_activity" jdbcType="INTEGER" property="isActivity" />
  </resultMap>



  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from commodity_specification_acy_t
    where specification_id = #{specificationId,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from commodity_specification_acy_t
    where specification_id = #{specificationId,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="CommoditySpecification" useGeneratedKeys="true" keyColumn="specification_id" keyProperty="specificationId">
    insert into commodity_specification_acy_t (specification_id, specification_name,
      specification_count, specification_price, specification_weight, sort_number, create_time,commodity_id,
      is_delete,image_path)
    values (#{specificationId,jdbcType=INTEGER}, #{specificationName,jdbcType=VARCHAR},
      #{specificationCount,jdbcType=INTEGER}, #{specificationPrice,jdbcType=DECIMAL}, #{specificationWeight,jdbcType=INTEGER},
      #{sortNumber,jdbcType=INTEGER}, #{createTime,jdbcType=VARCHAR},
      #{commodityId,jdbcType=VARCHAR}, #{isDelete,jdbcType=INTEGER}, #{imagePath,jdbcType=VARCHAR})
  </insert>

  <insert id="insertSelective" parameterType="CommoditySpecification" useGeneratedKeys="true" keyProperty="specificationId" keyColumn="specification_id">
    insert into commodity_specification_acy_t
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="specificationName != null">
        specification_name,
      </if>
      <if test="specificationCount != null">
        specification_count,
      </if>
      <if test="specificationPrice != null">
        specification_price,
      </if>
      <if test="specificationWeight != null">
        specification_weight,
      </if>
      <if test="activityPrice != null">
        activity_price,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="imagePath != null">
        image_path,
      </if>
      <if test="sortNumber != null">
        sort_number,
      </if>
      <if test="commodityId != null">
        commodity_id,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="specificationName != null">
        #{specificationName,jdbcType=VARCHAR},
      </if>
      <if test="specificationCount != null">
        #{specificationCount,jdbcType=INTEGER},
      </if>
      <if test="specificationPrice != null">
        #{specificationPrice,jdbcType=DECIMAL},
      </if>
      <if test="specificationWeight != null">
        #{specificationWeight,jdbcType=INTEGER},
      </if>
      <if test="activityPrice != null">
        #{activityPrice,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="imagePath != null">
        #{imagePath,jdbcType=VARCHAR},
      </if>
      <if test="sortNumber != null">
        #{sortNumber,jdbcType=INTEGER},
      </if>
      <if test="commodityId != null">
        #{commodityId,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="CommoditySpecification">
    update commodity_specification_acy_t
    <set>
      <if test="specificationName != null">
        specification_name = #{specificationName,jdbcType=VARCHAR},
      </if>
      <if test="specificationCount != null">
        specification_count = #{specificationCount,jdbcType=INTEGER},
      </if>
      <if test="specificationPrice != null">
        specification_price = #{specificationPrice,jdbcType=DECIMAL},
      </if>
      <if test="specificationWeight != null">
        specification_weight = #{specificationWeight,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="imagePath != null">
        image_path = #{imagePath,jdbcType=VARCHAR},
      </if>
      <if test="sortNumber != null">
        sort_number = #{sortNumber,jdbcType=INTEGER},
      </if>
    </set>
    where specification_id = #{specificationId,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="CommoditySpecification">
    update commodity_specification_acy_t
    set specification_name = #{specificationName,jdbcType=VARCHAR},
      specification_count = #{specificationCount,jdbcType=INTEGER},
      specification_weight = #{specificationWeight,jdbcType=INTEGER},
      specification_price = #{specificationPrice,jdbcType=DECIMAL},
      create_time = #{createTime,jdbcType=VARCHAR},
      image_path = #{imagePath,jdbcType=VARCHAR},
      sort_number = #{sortNumber,jdbcType=INTEGER},
      is_delete = #{isDelete,jdbcType=INTEGER}
    where specification_id = #{specificationId,jdbcType=INTEGER}
  </update>

  <select id="selectSpecificationCount" parameterType="Map" resultType="Integer">
    select
    count(specification_id)
    from commodity_specification_acy_t
    where is_delete = 0
    and commodity_id = #{commodityId}
    <if test="searchString != null">
      AND specification_name like concat('%',#{searchString},'%')
    </if>
  </select>

  <select id="selectSpecifications" parameterType="Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from commodity_specification_acy_t
    where is_delete = 0
    and commodity_id = #{commodityId}
    <if test="searchString != null">
      AND specification_name like concat('%',#{searchString},'%')
    </if>
    ORDER BY sort_number
    <if test="pageModel!=null">
      limit #{pageModel.firstLimitParam} , #{pageModel.pageSize}
    </if>
  </select>

  <update id="deleteByIds">
    update commodity_specification_acy_t set is_delete = 1 where specification_id IN
    <foreach item="specificationId" index="index" collection="specificationIds" open="(" separator="," close=")">
      #{specificationId}
    </foreach>
  </update>

  <update id="updateSortNumber">
    update commodity_specification_acy_t set sort_number = #{sortNumber} where specification_id = #{specificationId}
  </update>

  <update id="updateSortNumbers">
    update commodity_specification_acy_t set sort_number = sort_number + 1 where sort_number &lt; #{sortNumber}
  </update>

</mapper>